@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

.card:nth-child(1) {
	@apply text-purple-200;
}

.card {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	transition: color 1s;
	@apply w-[90%] lg:w-[37em] xl:w-[50%] flex-col leading-loose px-[6%] py-[4%] mx-auto lg:bg-black/[80%] relative lg:absolute xl:max-w-[800px];
}

.card::before {
	content: "";
	width: 101%;
	height: 101%;
	border-radius: 8px;
	position: absolute;
	z-index: -1;
	top: -0.5%;
	left: -0.5%;
}
.card::after,
.card::before,
.card > h2 {
	animation: spin 5s ease infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

.card > h2 {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@apply text-4xl xl:text-3xl font-bold tracking-widest mb-[2%];
}

#gamer > .card > h2 {
	background-image: linear-gradient(
		var(--rotate),
		var(--orange),
		var(--yellow),
		var(--green),
		var(--blue),
		var(--purple),
		var(--pink),
		var(--red)
	);
}

#pro > .card > h2 {
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
}

.card > ul {
	@apply font-light text-xl lg:list-disc lg:text-start;
	color: rgb(88 199 250 / 100%);
}

.card > ul strong {
	@apply font-semibold;
}
.card > ul > li {
	@apply my-5;
}

@media (max-width: 768px) {
	.card > ul > li {
		@apply flex-col justify-center text-center;
	}
	.card > ul > li > span {
		@apply block;
	}
}

@media (min-width: 1024px) {
	.card:hover {
		color: white !important;
	}
}

.comp {
	@apply w-[100%] flex mx-auto relative lg:absolute z-[-10];
}

#gamer,
#pro {
	@apply relative lg:h-[47em] !important;
}

#gamer > :is(.card, .comp) {
	@apply lg:left-0 !important;
}

#pro > :is(.card, .comp) {
	@apply lg:right-0 !important;
}

.comp > img {
	@apply w-full;
}

.comp > img,
#gamer,
#pro {
	@apply lg:h-[40em] !important;
}
